@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  user-select: none;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1920px;
}

.bevellier1 {
  font-family: Bevellier-Regular, sans-serif;
}

.bevellier2 {
  font-family: Bevellier-Medium, sans-serif;
}

.bevellier3 {
  font-family: Bevellier-Semibold, sans-serif;
}

.bevellier4 {
  font-family: Bevellier-Bold, sans-serif;
}

.bevellier5 {
  font-family: Bevellier-Black, sans-serif;
}

li {
  list-style: none;
  font-size: 1.4em;
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  cursor: pointer;
}
